{% extends 'base.html' %}
{% block title %}
    Browse - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>
      Browse Films{% if initial %} Starting with
      '{{ initial|title }}'{% endif %}
    </h1>

    {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
    <a href="{% url 'browse_by_name' initial=letter %}"
        {% if initial == letter %}class="active"{% endif %}>
        {{ letter|upper }}
    </a>
    {% endfor %}

    <ul>
        {% for film in films %}
        <li><a href="{% url 'film_detail' slug=film.slug %}">
            {{ film.name }}
          </a></li>
        {% empty %}
        <li>Sorry, no results!</li>
        {% endfor %}
    </ul>
{% endblock content %}
