{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    {{ film.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <h2><i class="fa fa-ticket" aria-hidden="true"></i> {{ film.name }}</h2>
    <p>{{ film.description }}</p>
    {% if social_accounts %}
    <ul>
      {% for social_account in social_accounts %}
      <li>
        <a href="http://{{ social_account.network }}.com/{{ social_account.username }}">
          {{ social_account.network|title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if user == film.user %}
        <p>
          <a href="{% url 'edit_film' slug=film.slug %}">
          Edit me!
        </a>
      </p>
    {% endif %}
{% endblock content %}
